body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-container {
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #45a049;
}

.transaction-history ul {
    list-style-type: none;
    padding: 0;
}

.transaction-history li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.fitting {
    background-color: #4caf50;
    height: 102px;
    width: 32px;
}

.custom-size {
    height: 102px;
    width: 32px;
}
